.movelist{
	position: fixed;
	top: 3rem;
	right: 0;
	left: 0;
	bottom: .84rem;
	overflow-y: scroll;
	padding-right: .2rem;
	.move-list-city{
		border-bottom: .0133rem solid #cccccc;
		margin-left: .2rem;
		margin-right: .2rem;
		padding: .2rem 0 .3rem 0;
		>:nth-child(1){
			font-size: .3133rem;
			color: #000;
			font-weight: 400;
		}
		>:nth-child(2){
			margin-top: .1rem;
			font-size: .27rem;
			color: #666;
			>:nth-child(1){
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				width: 70%;
				display: inline-block;
			}
			>:nth-child(2){
				float: right;
			}
		}
		>:nth-child(3){
			font-size: .27rem;
			color: #666;
			>span:nth-child(1){
				display: inline-block;
				padding: 0 .04rem;
				height: .25rem;
				line-height: .25rem;
				border-radius: .0267rem;
				font-size: .2rem;
				color: #589daf;
				border: 1px solid #589daf;
				margin-right: .08rem;
			}
			>span:nth-child(2){
				display: inline-block;
				padding: 0 .04rem;
				height: .25rem;
				line-height: .25rem;
				border-radius: .0267rem;
				font-size: .2rem;
				color: #589daf;
				border: 1px solid #589daf;
				margin-right: .08rem;
			}
			>span:nth-child(3){
				display: inline-block;
				padding: 0 .04rem;
				height: .25rem;
				line-height: .25rem;
				border-radius: .0267rem;
				font-size: .2rem;
				color: #f90;
				border: 1px solid #f90;
				margin-right: .08rem;
			}
			>span:nth-child(4){
				display: inline-block;
				padding: 0 .04rem;
				height: .25rem;
				line-height: .25rem;
				border-radius: .0267rem;
				font-size: .2rem;
				color: #f90;
				border: 1px solid #f90;
				margin-right: .08rem;
			}
		}
		>:nth-child(4){
			margin-top: .1rem;
			img{
				width: .27rem;
				height: .27rem;
				margin-right: .1333rem;
			}
			span{
				font-size: .25rem;
				color: #999;
			}
		}
	}
}
.movelist::-webkit-scrollbar {display:none}